[user]
	email = sblevins@gmail.com
	name = Scott

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore_global
    attributesfile = ~/.gitattributes_global
	autocrlf = input

[push]
    default = nothing

[difftool "Kaleidoscope"]
    cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
    tool = Kaleidoscope
[difftool]
    prompt = false
[mergetool "Kaleidoscope"]
    cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
    trustExitCode = true
[mergetool]
    prompt = false
[merge]
    tool = Kaleidoscope

[alias]
    ci = commit
    br = branch
    co = checkout
    cp = cherry-pick
    st = status
    diffc = diff --cached
    plog = log --graph --all --decorate
    slog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    tracking = for-each-ref --format='%(refname:short) <- %(upstream:short)' refs/heads

[rerere]
    enabled = 1
